.my-unordered-list-clean {
  list-style-type: none;
  margin: 0;
  height: 120px;
}

.my-unordered-list {
  list-style-type: square;
  margin: 0;
  height: 120px;
}

.my-unordered-list li {
  color: navy;
  height: 15px;
  font-size: 15px;
}