.demo-container {
  width: 300px;
  height: 250px;
  background-color: darkblue;
  color: #ffffff;
}

.my-button {
  width: 30%;
  border-radius: 3px;
  height: 22px;
  background-color: aliceblue;
  color: cadetblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}