body {
  background-image: url(./Sonoma_Horizon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container {
  display: flex;
}
.dock {
  position: absolute;
  width: 53rem;
  height: 4rem;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(119, 118, 118, 0.688);
  border-radius: 30px;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.app {
  width: 60px;
  height: 60px;
  margin: 2px;

  &:hover {
    transform: translateY(-20px);
  }
}
